# -*- coding: utf-8 -*-
# 工程预装模块
# 需要额外的python包，可直接在文件后面添加
# 请确保指定的包和版本号，可通过pip安装

# blueapps requirement
Django==2.2.6
blueapps==4.4.2
mysqlclient==1.4.4
MarkupSafe==1.1
Mako==1.0.6
requests==2.25.0
urllib3==1.26.2
redis==2.10.6
celery==3.1.25
django-celery==3.2.1
python-json-logger==0.1.7
whitenoise==3.3.0
six==1.11.0
uwsgi==2.0.19.1
#daphne==2.2.1

#v2 requirement
httplib2==0.9.1

# terminal
bcrypt==3.2.0
pycrypto==2.6.1
cryptography==3.3.1
django-cors-headers==3.2.1
paramiko==2.7.2
#channels==2.1.4
#channels-redis==2.3.1
django_redis==4.11.0
gunicorn==19.9.0
gevent==21.1.2
XlsxWriter==1.2.8
xlrd==1.2.0
bk-iam==1.1.20
#uvicorn==0.11.8
