# config file for opsany bastion -- https://www.opsany.com/
# =================================================

# Install Path
INSTALL_PATH="/data/bkce/opsany-bastion"

# Paas Domain
PAAS_DOMAIN_NAME="ce.bktencent.com"
BASTION_APP_TOKEN=b7d83351-0f0a-4918-adaa-a4860bc2fced

# For Docker Hub
#PAAS_DOCKER_REG="opsany"

#For Aliyun
PAAS_DOCKER_REG="registry.cn-beijing.aliyuncs.com/opsany"
#PAAS_DOCKER_REG="registry-vpc.cn-beijing.aliyuncs.com/opsany"

# PAAS Config
UPLOAD_PATH="${INSTALL_PATH}/uploads"

# MySQL
MYSQL_HOST=mysql-default.service.consul
MYSQL_PORT=3306
MYSQL_PASSWORD=OpsAny@2020
MYSQL_BASTION_PASSWORD=OpsAny@2020

# Redis
REDIS_HOST=REDIS_HOST=redis.service.consul
REDIS_PORT=6379
REDIS_PASSWORD=OpsAny@2020

# Websocket
WEBSOCKET_GUACD_HOST="192.168.56.11"
