# config file for opsany -- https://www.opsany.com/
# =================================================

[defaults]
# Install Path
INSTALL_PATH="/data/bkce/opsany-bastion"

# Network
LOCAL_IP="192.168.56.11"

# Paas Domain
DOMAIN_NAME="192.168.56.11"

# For Docker Hub
#PAAS_DOCKER_REG="opsany"

#For Aliyun
PAAS_DOCKER_REG="registry.cn-beijing.aliyuncs.com/opsany"
#PAAS_DOCKER_REG="registry-vpc.cn-beijing.aliyuncs.com/opsany"

[opsany_paas]
# PAAS VERSION
PAAS_VERSION="v3.2.6"
# PAAS Config
PAAS_PAAS_IP="192.168.56.11"
PAAS_LOGIN_IP="192.168.56.11"
PAAS_APPENGINE_IP="192.168.56.11"
PAAS_ESB_IP="192.168.56.11"

[opsany_saas]
# SaaS need to add env
UPLOAD_PATH="/data/bkce/opsany-bastion"

[mysql]
# MySQL
MYSQL_SERVER_IP="192.168.56.11"
MYSQL_PORT="3306"
MYSQL_ROOT_PASSWORD="OpsAny@2020"
MYSQL_PAAS_PASSWORD="OpsAny@2020"
MYSQL_OPSANY_BASTION_PASSWORD="OpsAny@2020"

[redis]
# Redis Password
REDIS_SERVER_IP="192.168.56.11"
REDIS_SERVER_PASSWORD="OpsAny2020"
REDIS_PORT="6379"
TERMINAL_TIMEOUT="1800"

[websocket]
# Websocket
WEBSOCKET_GUACD_HOST="192.168.56.11"
